@charset "utf-8";
@import "./materialize.scss";
@import url('https://fonts.googleapis.com/css?family=Bangers|Nunito:600');

/** Custom Variables **/
$headline: 'Bangers', sans-serif;
$black: map-get($shades, 'black');
$white: map-get($shades, 'white');
$red: map-get($red, 'base');
$indigo: map-get($indigo, 'base');

$base-font-size: 1rem;
$heading-scale: .6;

/** heading size function **/
@for $i from 1 through 6 {
  h#{$i} {
    color: darken($indigo, 10);
    font: $base-font-size + $heading-scale * (6 - $i) $headline;
    line-height: $base-font-size + $heading-scale * (6);
    text-shadow: 2px 2px 0px lighten($indigo, 30);
  }
}

/** Custom Styles **/
header {

  .brand-logo {
    font: 3.5rem $headline;
    line-height: 4.5rem;
    text-shadow: 3px 3px 0px darken($indigo, 20);
  }
}

body {
  background: linear-gradient( transparentize($black, .2),  transparentize($black, 0)),
  url('./../images/covers.jpg') repeat-x;
  background-position: 0 auto;
  background-size: 0/100% auto;
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;

  &.scroller {
    animation: backgroundScroll 60s linear infinite alternate;
  }
}

.carousel {
  margin: 3rem auto;
  overflow: visible;
  perspective: 300px;

  .card:first-child:before {
    background: $red;
    border: 3px solid darken($red, 20);
    box-shadow: 1px 1px 3px transparentize($black, .2);
    color: $white;
    content: 'Freshest Pick!';
    display: block;
    font: 1.75rem $headline;
    left: -10px;
    padding: .5rem .75rem;
    position: absolute;
    bottom: 30px;
    z-index: 1000;
  }

  .carousel-item {
    height: auto;
    max-width: 50%;
    width: 100%;

    .rating {
      border: 3px solid darken($red, 15);
      bottom: auto;
      top: -28px;
      font: 1.5rem $headline;
      line-height: 3.5rem;
    }
  }
}

.card {

  .card-title {
    font: 1.5rem $headline;
    color: $indigo;

    .carousel & {
      font-size: 2rem;
    }
  }

  .card-stack {
    width: 100%;
  }
}

.reviews {
  margin-bottom: 0;
  padding-top: 1rem;

  .more-reviews {
    align-items: flex-end;
    display: flex;
    flex-wrap: wrap;
  }

  h3 {
    background: lighten($indigo, 45);
    line-height: 4rem;
    text-align: center;
  }
}

.add-rating {
  margin: 2rem auto;
}

img {

  .card.horizontal .card-image & {
    max-width: 300px;
    height: 400px;
  }

  .more-reviews & {
    width: 100%;
  }

  .collection-item & {
    width: auto;
    max-height: 120px;
  }

  .add-rating & {
    padding: 2rem 1rem 1.5rem;
  }
}

.collection {
  margin-top: 2rem;

  .collection-item.avatar {
    display: flex;
    padding: 1rem;

    .title {
      color: $indigo;
      font: 1.75rem $headline;
    }

    p {
      margin: .5rem 0;
    }
  }

}

.material-icons {

  .card-action &,
  .nav-wrapper a & {
    display: inline-block;
    vertical-align: top;
  }
}

.page-footer {
  padding-top: 0;
}

@keyframes backgroundScroll {
    0% {background-position: 0 0;}
    100% {background-position: -80vw 0;}
}
